* {
  font-family: 'Roboto Mono', monospace;
}

/* Nav */
.nav-logo {
  width: 80px;
  height: auto;
}

.nav-profile-img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 50%;
}

/* Home */

/* Hero Section */
.hero-bg {
  background-image: url('../src/assets/hero1.jpg');
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
}

/* Login */
.login_bg {
  background-image: url(https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 95vh;
  background-size:cover;
  background-position: right;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* Sign up */
.signup_bg {
  background-image: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height:95vh
}

.signup-profile-pic-container {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  position: relative;
}

.signup-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.add-picture-icon {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: green;
  cursor: pointer;
  z-index: 99;
}

/* Chat */
.message-output {
  height: 80vh;
  border: 1px solid lightgray;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.member-status {
  margin-bottom: 0;
  position: relative;
}

.member-status-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-online-status {
  color: green;
}

.sidebar-offline-status {
  color: gray;
}
.sidebar-offline-status,
.sidebar-online-status {
  font-size: 11px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 12px;
}

.incoming-message {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.incoming-message > .message-inner {
  background-color: bisque;
}

.message-inner {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 200px;
  max-width: 90%;
  text-align: left;
  display: inline-block;
  border-radius: 10px;
  background-color: lightseagreen;
}

.message-sender {
  margin-bottom: 5px;
  font-weight: 900;
}

.message-content {
}

.message-timestamp-left {
  font-size: 0.85em;
  font-weight: 300;
  margin-top: 10px;
}

.message-date {
  width: 100px;
  margin: 0 auto;
}

.message-date-indicator {
}

.conversation-info {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  height: 100px;
}

.conversation-profile-picture {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 10px auto 30px 10px;
  border-radius: 50%;
}
